{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block title %}
    Vente
{% endblock %}


{% block body %}
        <!-- BREADCRUMB -->
        <div id="breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Acceuil </a></li>
                    <li><a href="{{path('all_achat')}}">Achat</a></li>
                    <li class="active">Mes Annonces </li>
                </ul>
            </div>
        </div>

        <!-- section -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Mes Annonces</h2>
                        </div>
                    </div>
                    <!-- section title -->
    {% for a in achats %}
                    <!-- Product Single -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <div class="product-thumb">
                        <!--        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button> -->
                                <img src="{{ asset('uploads/brochures/' ~ a.photo) }}" alt="" width="200" height="150">
                            </div>
                            <div class="product-body">
                                <div class="product-rating">
                                    <h3 class="product-price" style="color: #dd4d1b">{{ a.prix}} DT</h3>
                                </div>

                                <h2 class="product-name"><a href="#">{{ a.titre }}</a></h2>
                                <span class="product-name"><a href="#">Categorie : {{ a.categorie }}</a></span>
                                <p class="product-name"><a href="#">Emplacement : {{ a.emplacement }}</a></p>
                                <div class="product-btns">
                                    <p>Ajouter le : {{ a.date|date ('Y-m-d') }}</p>
                                    <a href="{{ path('update_achat',{id: a.id}) }}" class="main-btn icon-btn"><i class="fa fa-pencil-square-o"></i></a>

                                    <a href="{{ path('delete_achat',{id: a.id}) }}" class="primary-btn add-to-cart"><i class="fa fa-close"></i>  Supprimer </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Single -->
    {% endfor %}
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /section -->






{% endblock %}
{% block javascripts %}

{% endblock %}