{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}
    Achat
{% endblock %}


{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Acceuil </a></li>
                <li class="active">Achat </li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">

                    <!-- aside widget -->
                    <div class="aside">
                        <h3 class="aside-title">Mes Annonces:</h3>
                        <a href="{{ path ('add_achat') }}" class="primary-btn">Ajouter une Annonce</a>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <br>
                        <br>
                        <a href="{{ path ('achat_by_user') }}" class="primary-btn">Mes Annonces</a>
                        {% endif %}
                    </div>
                    <!-- /aside widget -->

                    <!-- aside widget -->
                    <div class="aside" >


                    </div>
                    <!-- /aside widget -->


                </div>
                <!-- /ASIDE -->

                <!-- MAIN -->
                <div id="main" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">

                        <div class="pull-right">
                            <div class="page-filter">
                                <div class="achat-search">

                                    <form method="POST">
                                        <input class="input search-input search_input" type="text" list="achat_result" name="achat_search" id="achat_search" oninput='onInput()' placeholder="Nom de l'annonce ">
                                        <datalist id="achat_result">

                                        </datalist>
                                        <button  type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <span></span>
                                <span class="text-uppercase">Show:</span>
                                <select class="input">
                                    <option value="0">10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                </select>
                            </div>
                            <ul class="store-pages">
                                <li><span class="text-uppercase">Page:</span></li>
                                <li class="active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /store top filter -->

                    <!-- STORE -->
                    <div id="store">
                        <!-- row -->
                        <div class="row">

                            {% for a in achats %}
                                <!-- Product Single -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="product product-single">
                                        <div class="product-thumb">
                                            <a href="{{path('achat_by_id', {id: a.id})}}" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Voir Plus</a>
                                            <img src="{{ asset('uploads/brochures/' ~ a.photo) }}" alt="" width="200" height="150">
                                        </div>
                                        <div class="product-body">

                                            <div class="product-rating">
                                                <h3 class="product-price" style="color: #dd4d1b">{{ a.prix}} DT</h3>
                                            </div>

                                            <h2 class="product-name"><a href="#">{{ a.titre }}</a></h2>
                                            <span class="product-name"><a href="#">Categorie : {{ a.categorie }}</a></span>
                                            <p class="product-name"><a href="#">Emplacement : {{ a.emplacement }}</a></p>
                                            <div class="product-btns">

                                                <p>Ajouter le : {{ a.date|date ('Y-m-d') }}</p>
                                                <p>Par :{{ a.nom_ann }}  {{ a.prenom_ann }}</p>
                                                <a href="{{path('achat_by_id', {id: a.id})}}" class="primary-btn add-to-cart"><i class="fa fa-plus-circle"></i> Details</a>
                                                <span> </span>
                                                <a href="#" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Single -->
                            {% endfor %}
                            <div class="clearfix visible-sm visible-xs"></div>

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /STORE -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">

                        <div class="pull-right">
                            <div class="page-filter">
                                <span class="text-uppercase">Show:</span>
                                <select class="input">
                                    <option value="0">10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                </select>
                            </div>
                            <ul class="store-pages">
                                <li><span class="text-uppercase">Page:</span></li>
                                <li class="active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /MAIN -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}
{% block javascripts %}
    <script src="{{asset('RessourcesTemplate/js/achatScript.js')}}"></script>
{% endblock %}
