{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}
    Vente
{% endblock %}
{% block body %}

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Annonces Vente</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Annonces Vente</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des Annonces
                </div>
                <div class="panel-body">

                    <table data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Emplacement</th>
                            <th>Categorie</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>Annonceur </th>
                            <th>Date d'ajout</th>
                            <th>Supprimer</th>
                            <th>Photo</th>
                        </tr>
                        </thead>
                        {% for v in ventes %}
                            <tr>
                                <td>{{ v.titre }}</td>
                                <td>{{ v.emplacement}}</td>
                                <td>{{ v.categorie }}</td>
                                <td>{{ v.prix }}</td>
                                <td>{{ v.description }}</td>
                                <td>{{ v.nom_ann }} {{ v.prenom_ann }}</td>
                                <td>{{ v.date|date('d/m/Y') }}</td>
                                <td><a href="{{ path('delete_vente_admin',{id: v.id}) }}">Supprimer</a></td>
                                <td><a href="{{ asset('uploads/brochures/' ~ v.photo) }}">
                                        <img src="{{ asset('uploads/brochures/' ~ v.photo) }}" alt="Cover" width="50" height="50" >
                                    </a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->


{% endblock %}
{% block javascripts %}
{% endblock %}
