{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{asset('RessourcesTemplate/css/main_client.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}
    ÉCHANGE
{% endblock %}


{% block body %}



    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Acceuil</a></li>
                <li class="active">Echange</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside widget -->
                    <div class="aside">
                        <h3 class="aside-title">Mes Annonces:</h3>
                        <a href="{{path('add_echange')}}" class="primary-btn">Mes Annonces</a>
                    </div>
                    <!-- /aside widget -->

                    <!-- aside widget -->
                    <div class="aside" >
                        <h3 class="aside-title">Filter Par Categorie:</h3>
                        <ul class="list-links">

                            <li ><a href="{{path('all_echange')}}" >Tous les categories</a></li>
                            {% for c in categorie %}
                            <form method="POST" id="my_form{{ c.id }}">
                                <input type="hidden"  name="cat_name" value={{ c.id }} />
                            </form>
                                <li ><a href="javascript:{}" onclick="document.getElementById('my_form{{ c.id }}').submit(); ">{{ c.nom }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                    <!-- /aside widget -->


                </div>
                <!-- /ASIDE -->

                <!-- MAIN -->
                <div id="main" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">

                        <div class="pull-right">
                            <div class="page-filter">
                                <span class="text-uppercase">Show:</span>
                                <select class="input">
                                    <option value="0">10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                </select>
                            </div>
                            <ul class="store-pages">
                                <li><span class="text-uppercase">Page:</span></li>
                                <li class="active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /store top filter -->

                    <!-- STORE -->
                    <div id="store">
                        <!-- row -->
                        <div class="row">

                            {% for e in echanges %}
                            <!-- Product Single -->
                            <div class="col-md-4 col-sm-6 col-xs-6" >
                                <div class="product product-single">
                                    <div class="product-thumb">
                                        <a class="main-btn quick-view" href="{{path('echange_by_id', {id: e.id})}}"><i class="fa fa-search-plus"></i> plus de détails</a>
                                        <img src="{{ asset('uploads/brochures/' ~ e.photo) }}" alt="" width="200" height="150">
                                    </div>
                                    <div class="product-body">
                                        <h2 class="product-price">{{ e.titreAfficher }} </h2>

                                        <h1 class="product-name"><a href="#">{{ e.titreDemande }}</a></h1>
                                        <span class="product-name"><a href="#">Categorie : {{ e.categorie }}</a></span>
                                        <p class="product-name"><a href="#">Emplacement : {{ e.emplacement }}</a></p><br>
                                        <div class="product-rating">
                                            <p>{{ e.nom_ann }}  {{ e.prenom_ann }}</p>
                                            {% for i in 1..5 %}
                                                <i class="fa {% if i <= e.votes %}fa-star{% else %}fa-star-o empty{% endif %}"></i>
                                            {% endfor %}
                                        </div>
                                        <div class="product-btns">
                                            <br><br>
                                            <p>Date d'ajout : {{ e.date|date ('Y-m-d') }}</p><br>
                                            <a class="primary-btn add-to-cart" href="{{path('echange_by_id', {id: e.id})}}">plus de détails </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Product Single -->

                            {% endfor %}
                            <div class="clearfix visible-sm visible-xs"></div>

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /STORE -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">

                        <div class="pull-right">
                            <div class="page-filter">
                                <span class="text-uppercase">Show:</span>
                                <select class="input">
                                    <option value="0">10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                </select>
                            </div>
                            <ul class="store-pages">
                                <li><span class="text-uppercase">Page:</span></li>
                                <li class="active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /MAIN -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->





{% endblock %}
{% block javascripts %}

{% endblock %}
